.feedback {
    padding-bottom: 180px;

    @include mediaTablet {
        padding-bottom: 30px;
    }
}

.feedback-title {
    margin-bottom: 38px;
}

.feedback-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;

    @include mediaTablet {
        grid-template-columns: 1fr;

        .privacy-bottom {
            grid-area: 4 / 1;
        }
    }
}

.privacy-bottom {
    grid-area: 1 / 4;
}